/* Fontes */
.sofia-regular {
    font-family: "Sofia", cursive;
    font-weight: 400;
    font-style: normal;
}  

p, h1, h2 {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
}

body {
    margin: 0px;
}

/* header */


header {
    background-image: url(./imagens/header_bg.webp);
    background-color: cadetblue;
    border: 4px solid;
    border-color: black;
}

header img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: inline;
}

header div {
    display: inline;
    float: right;
    margin-top: 60px;
    margin-right: 40px;
}

header div hr {
    width: 300px;
    border: 1px solid black;
    border-radius: 1px;
}

header p {
    text-align: center;
    color: aliceblue;
    text-transform:uppercase;
    font-size: xxx-large;
    display: inline;
    padding: 10px;
}

/* nav */
nav {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 3px solid black;
}

nav div {
    border: 4px solid darkslategrey;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25%;
    padding-right: 25%;
}

nav div img {
    width: 40px;
}

nav div a {
    align-self: left;
}

/* main */
main{
    background-color:aliceblue;
    background-image: linear-gradient(cadetblue, black);
}

main div {
    align-self: center;
    justify-content: center;
    text-align: center;
}

main div h1 {
    font-size: 50px;
}

main div img:first-of-type {
    padding-right: 10%;
}

main div img:last-of-type {
    padding-left: 10%;
}

main section {
    display: box;
    justify-content: center;
    text-align: center;
}

main section h2 {
    display: flexbox;
    font-size: 30px;
}

main section p {
    font-size: larger;
}

main section:last-of-type img {
    width: 10%;
    align-self: center;
}

/* footer */
footer {
    background-color: palegreen;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer div:not(image-holder) {
    margin-left: 10%;
    margin-right: 10%;
}

footer a img {
    width: 30%;
    padding-right: 10%;
}